{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content px-2 lg:px-12">
				<h1 class="article-h1 m-8 text-4xl font-semibold text-center">{{ post.title }}</h1>
				<div class="article-body text-center text-xl my-4">
					{{post.content}}
				</div>
			</section>
			<section class="section-gallery">
				<div class="masonry">
					{% for work in function( 'masonry_order', Post(post.works) ) %}
						<div class="brick lg:p-8 mb-8 flex flex-col shadow-md justify-center content-center">
						{% if work.thumbnail.src %}
							<a href="{{ work.thumbnail.src('full') }}" class="glightbox" id="{{work.ID}}"  data-glightbox="type: image; description: .custom-desc{{ work.ID }}" data-gallery="gallery">
								<img src="{{ work.thumbnail.src('archive-cover') }}" class="self-center mx-auto" alt="{{ work.title }}" />
							</a>
						{% elseif work.content %}
							<a href="#video-{{ work.ID }}" class="glightbox" id="{{work.ID}}" data-glightbox="type: video; description: .custom-desc{{ work.ID }}" data-gallery="gallery">
								{{ work.content }}
							</a>
						{% endif %}
							<div class="glightbox-desc custom-desc{{ work.ID }}">
								<h3 class="text-xl font-semibold">{{ work.title }}</h3>
								{% if work.thumbnail.src %}
									<p class="text-sm">{{ work.content }}</p>
								{% endif %}
								{% if work.materials %}
									<p class="text-sm capitalize">{{ work.materials }}</p>
								{% endif %}
								{% if work.dimensions %}
									<p class="text-sm">{{ work.dimensions }}</p>
								{% endif %}
							</div>
							<section class="caption my-2 text-lg text-center h-full w-full">
								<h3 class="text-xl font-semibold">{{ work.title }}</h3>
								{% if work.thumbnail.src %}
									<p class="text-sm">{{ work.content }}</p>
								{% endif %}
								{% if work.materials %}
									<p class="text-sm capitalize">{{ work.materials }}</p>
								{% endif %}
								{% if work.dimensions %}
									<p class="text-sm">{{ work.dimensions }}</p>
								{% endif %}
							</section>
								{% if work.tags() %}
									<p class="text-xs flex flex-row flex-wrap justify-center content-center">
										<h5 class="text-gray-400">Related Work</h5>
										{% for tag in work.tags() %}
												{% for related_work in tag.posts({
													posts_per_page: -1,
													post__not_in: [work.ID],
												}) %}
													<div class="text-gray-500"><a class="hover:underline" href="{{ related_work.link }}">{{  related_work.title }}</a></div>
												{% endfor %}
										{% endfor %}
									</p>
								{% endif %}
							<div class="hidden" id="video-{{ work.ID }}">
								{{ work.content }}
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			{% include 'partial/archive-back-link.twig' %}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
