<article class="tease tease-{{post.post_type}} relative item shadow-md m-grid-item" id="tease-{{post.ID}}">
	<a class="absolute inset-0 flex items-center justify-center transition-all duration-500" href="{{post.link}}">
			<h2 class="block z-10 h2 p-8 text-2xl text-center lg:text-4xl font-bold text-white">{{post.title}}</h2>
	</a>
	{% if post.thumbnail.src %}
			<img class="object-contain" src="{{ post.thumbnail.src('archive-cover') }}" srcset="{{ post.thumbnail.srcset('archive-cover') }}" alt="{{ post.title }}">
	{% endif %}
</article>
